* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #0066cc;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Header Styling */

header {
    padding: 40px 35px;
    background-color: #0066cc;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-image: url("../images/crystalcath.jpg");
    background-size:auto;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    
    font-weight: bold;
    font-size: 32px;
    color: #000000;
    margin: 0;
}

header a {
    text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
    
    color: #ffffff;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
}

header nav ul li a:hover {
    font-size: 29px;
    font-weight: bold;
}

/* header Styling end */

/* Secondary Header */

h2 {
    
    margin: 20px;
    background: #ffcc00;
    color: #0066cc;
    flex: 1;
    text-align: center;
}

/* Secondary Header End */

/* About Me Section */

.story {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.together {
    width: 35%;
}

.story p {
    padding: 25px;
    line-height: 1.3;
}

/* about me section end */

.works section {
    width: 100%;
    height: 100%;
    text-align: center;
    border: 5px solid #ffcc00;
  }



.works img {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  /* Footer Styling */

footer {
    font-weight: bold;
    color: #000000;
    margin: 0;
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

/* Footer Styling End */
 